@import "tailwindcss";

@font-face {
  font-family: "Kairos Sans";
  src: url("/fonts/KairosSansFont.ttf") format("truetype");
  font-weight: medium;
  font-style: normal;
  font-display: swap;
}

@layer base {
  body {
    background-color: #030303;
    font-family: "Inter", sans-serif;
  }

  h1 {
    @apply text-[24px] font-medium leading-[110%] tracking-[-0.02em];
  }

  h2 {
    @apply text-[18px] font-medium leading-normal tracking-normal;
  }

  .p1 {
    @apply text-[14px] font-normal leading-[150%] tracking-normal;
  }

  .p2 {
    @apply text-[12px] font-normal leading-[150%] tracking-[-0.02em];
  }

  .p3 {
    @apply text-[10px] font-normal leading-[130%] tracking-normal;
  }

  /* Custom scrollbar styles */
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #202020;
    border-radius: 10px;
  }

  /* Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: #202020 transparent;
  }

  input.no-spinner::-webkit-outer-spin-button,
  input.no-spinner::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input.no-spinner[type="number"] {
    -moz-appearance: textfield;
  }
}

@layer components {
  .custom-glass-card {
    background:
      linear-gradient(120deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.08) 100%) padding-box,
      linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0)) border-box;

    border: 1.38px solid transparent;
    backdrop-filter: blur(33.26px);
    -webkit-backdrop-filter: blur(33.26px);

    box-shadow:
      0 4px 8px rgba(0, 0, 0, 0.2), 
      inset 0 1px 4px rgba(255, 255, 255, 0.15);
  }

  @keyframes rotate-counter {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(-360deg);
    }
  }

  .rotate-counter {
    animation: rotate-counter 10s linear infinite;
    transform-origin: center center;
  }
}

@layer utilities {
  .gradien-tile {
    font-family: "Kairos Sans", sans-serif;
  }

  .step-circle {
    background: linear-gradient(160deg, #0D0D0D00, #3C3C3C) padding-box,
                linear-gradient(180deg, rgb(13, 13, 13) 0%, #171717 100%) border-box;
  }

  .gradientDiv {
    background: 
      radial-gradient(52.98% 10.66% at 50% 1.71%, #EDEB01 0%, rgba(237, 235, 1, 0) 100%) padding-box,
      radial-gradient(28.57% 10.19% at 50% 4.61%, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%) border-box;
    
    border: 1px solid;
    border: 1px solid rgba(26, 26, 26, 0.442);
    border-image-slice: 1;
    border-radius: 22px;
    background-color: #0D0D0D;
    
    backdrop-filter: blur(47.15px);
    -webkit-backdrop-filter: blur(47.15px); 
  }

  .mobile-menu-blur {
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    background-color: rgba(3, 3, 3, 0.4); 
  }
}

@media screen and (min-width: 768px) {
  @layer base {
    .p1 {
      @apply text-[16px] font-normal leading-[150%] tracking-normal;
    }

    .p2 {
      @apply text-[14px] font-normal leading-[150%] tracking-[-0.02em];
    }

    .p3 {
      @apply text-[12px] font-normal leading-[130%] tracking-normal;
    }
  } 


  @layer utilities {
    .gradientDiv {
      background: 
        radial-gradient(52.98% 31.66% at 50% 1.71%, #EDEB01 0%, rgba(237, 235, 1, 0) 100%) padding-box,
        radial-gradient(28.57% 26.19% at 50% 4.61%, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%) border-box;
      
      border: 1px solid;
      border: 1px solid rgba(26, 26, 26, 0.442);
      border-image-slice: 1;
      border-radius: 22px;
      
      backdrop-filter: blur(47.15px);
      -webkit-backdrop-filter: blur(47.15px); 
    }
  }
}