@import "tailwindcss";

@font-face {
  font-family: "Kairos Sans";
  src: url("/fonts/KairosSansFont.ttf") format("truetype");
  font-weight: medium;
  font-style: normal;
  font-display: swap;
}

@layer base {
  body {
    background-color: #030303;
    font-family: "Inter", sans-serif;
  }
}


@layer utilities {
  .gradien-tile {
    font-family: "Kairos Sans", sans-serif;
  }

  .custom-glass-card {
    border-radius: 16px; 
    padding: 12px;

    background:
      linear-gradient(120deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.08) 100%) padding-box,
      linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0)) border-box;

    border: 1.38px solid transparent;
    backdrop-filter: blur(33.26px);
    -webkit-backdrop-filter: blur(33.26px);

    box-shadow:
      0 4px 8px rgba(0, 0, 0, 0.2), 
      inset 0 1px 4px rgba(255, 255, 255, 0.15);
  }
}


