@import "tailwindcss";

@font-face {
  font-family: "Kairos Sans";
  src: url("/fonts/KairosSansFont.ttf") format("truetype");
  font-weight: medium;
  font-style: normal;
  font-display: swap;
}

@layer base {
  body {
    background-color: #030303;
    font-family: "Inter", sans-serif;
  }
}
